name: build

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Install dependencies
        run: |
          uv pip install --system -e ".[torch,jax]"
          uv pip install --system "mlx[cpu]" mpax pytest
      - name: Install Moreau
        run: uv pip install --system moreau --extra-index-url https://${FURY_TOKEN}:@pypi.fury.io/optimalintellect/
        env:
          FURY_TOKEN: ${{ secrets.FURY_TOKEN }}
      - name: Run tests
        run: pytest
        env:
          MOREAU_LICENSE_KEY: ${{ secrets.MOREAU_KEY }}

      - name: build
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        run: |
          uv pip install --system build
          python -m build

      - name: publish
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
